.skillContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 5rem;

  .skillContainer {
    margin-top: 2rem;
  }
}

.def_section {
  display: flex;
  align-items: center;

  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.skillIcon {
  width: 15rem;
  height: 15rem;
}

h2 {
  margin-top: 2rem;
}

.projectCardInSkill {
  margin-bottom: 2rem;
  display: flex;

  &.alternate {
    flex-direction: row-reverse;
    text-align: right;
  }

  .projectTextInSkill {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  @media (max-width: 1024px) {
    flex-direction: column !important;
    text-align: left !important;

    &.alternate {
      flex-direction: column !important;
      text-align: left !important;
    }

    .projectTextInSkill {
      margin: 1rem 0 0 0 !important;
    }
  }
}