@use '../../../styles/mixins' as *;

header {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.content {
    display: flex;
    gap: 2rem;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    span {
        font-size: 1.3rem;
        margin-bottom: 2rem;
    }

    button {
        @include btn-base;
    }
}