@use "../../../styles/mixins"as *;

.headerContainer {
  display: flex;
  justify-content: space-between;

  img {
    max-width: 80%;
  }

  @media (max-width: 1028px) {
    display: block;

    img {
      display: none;
    }
  }
}

.headerContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.headerTexts {
  display: flex;
  flex-direction: column;
}

button {
  @include btn-base;
}