body {
  background: linear-gradient(
    90deg,
    var(--color-primary),
    var(--color-secondary)
  );
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

span,
p,
div {
  color: var(--color-text);
}
