@use "variables";
@use "mixins";
@use "reset";
@use "base";

html {
  font-family: var(--font-primary);
  font-size: large;
}

main {
  max-width: 72rem;
  margin: auto;
  margin-top: 5rem;

  @media (max-width: 768px) {
    width: 90% !important;
  }
}
