.photo {
  height: 23rem;
}

.presentation {
  display: flex;
  margin-bottom: 5rem;
  .mainText {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 3rem;
    hr {
      margin-bottom: 1rem;
      width: 5rem;
    }
  }

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;

    img {
      margin-top: 2rem;
      width: 70%;
    }
  }
}

.para {
  margin-bottom: 2rem;
}

.hobby {
  margin-top: 2rem;
  margin-bottom: 3rem;
  .oneHobby {
    margin-bottom: 1rem;
    .oneHobbyTitle {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      margin-bottom: 0.5rem;
      h3 {
        margin-bottom: 0;
      }
    }
  }
}
