.logo_title {
  display: flex;
  align-items: center;

  img {
    margin: 1rem 0;
    width: 4rem;
    height: 4rem;
  }

  h3 {
    margin: 0 1rem;
  }
}

.progress_bar {
  padding: 0 2rem;
}

.bar_content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
