.skillsIcon {
  width: 3rem;
  height: 3rem;
}

.basicBar {
  width: 100%;
  background-color: #a0a0c0;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 0.5rem;
}

.progressBarTitle {
  font-size: larger;
}